{% extends 'base.html.twig' %}
    {% block title %}
        Musée du Louvre
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/stylecalendrier.css') }}">
    {% endblock %}
{% block body %}
    <div class="banner">
        <h1 id="mainTitle">Achetez vos billets maintenant !</h1>
    </div>
    <div class="container">
    <div class="">

    </div>










    </div>




    {% block javascripts %}
        <script src="{{ asset('js/calendrier.js') }}"></script>
    {% endblock %}
{% endblock %}