.banner{
    background: url("../images/banniere.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#mainTitle{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    top: 50%;
    background-color: black;
    padding: 50px;
    border-radius: 15px;
    cursor: pointer;
}